<div class="wrapper-kevan">
  <nav class="navbar navbar-expand-lg navbar-light mb-5 navbar-style" ng-controller="HomeController as vm">
      <a class="navbar-brand" href="#">
         <img class="img-responsive" style="width: 5rem" src="https://res.cloudinary.com/kevan1881/image/upload/s--J0mkvZVC--/v1560649100/logo_new_m9c14w.jpg" alt="logo">

      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

              <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#" ui-sref="home.post">Post</a>-->
              <!--</li>-->

              <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                  <!--Dropdown-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                  <!--<a class="dropdown-item" href="#">Action</a>-->
                  <!--<a class="dropdown-item" href="#">Another action</a>-->
                  <!--<div class="dropdown-divider"></div>-->
                  <!--<a class="dropdown-item" href="#">Something else here</a>-->
                <!--</div>-->
              <!--</li>-->
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item  justify-content-end">
                    <a class="nav-link" href="#" title="Go to login page" ui-sref="home.login">Login</a>
                </li>
                <li class="nav-item  justify-content-end">
                    <a class="nav-link" href="#" title="Go to our hope page" ui-sref="home.research">Our Hope</a>
                </li>
            </ul>
        </div>
    </nav>
  <div id="main-container" class="container-fluid">
    <ui-view id="main-ui-view">
      <!-- Start slider -->
      <div class="container text-center mb-5">
        <h1 class="hero-title apocalype-section">Apocalypse Day</h1>
      </div>
      <div class="container mb-5">
          <div class="row text-center timer">
              <div class="col">
                  <div class="{{'d-inline-block progress-circle '+dayP}}">
                      <span>{{day}}</span>
                      <div class="left-half-clipper">
                          <div class="first50-bar"></div>
                          <div class="value-bar"></div>
                      </div>
                  </div>
                  <div class="timer-text"><h3>day</h3></div>
              </div>
              <div class="col">
                  <div class="{{'d-inline-block progress-circle '+hourP}}">
                      <span>{{hour}}</span>
                      <div class="left-half-clipper">
                          <div class="first50-bar"></div>
                          <div class="value-bar"></div>
                      </div>
                  </div>
                  <div class="timer-text"><h3>hour</h3></div>
              </div>
              <div class="col">
                  <div class="{{'d-inline-block progress-circle '+minuteP}}">
                      <span>{{minute}}</span>
                      <div class="left-half-clipper">
                          <div class="first50-bar"></div>
                          <div class="value-bar"></div>
                      </div>
                  </div>
                  <div class="timer-text"><h3>min</h3></div>
              </div>
              <div class="col">
                  <div class="{{'d-inline-block progress-circle '+secondP}}">
                      <span>{{second}}</span>
                      <div class="left-half-clipper">
                          <div class="first50-bar"></div>
                          <div class="value-bar"></div>
                      </div>
                  </div>
                  <div class="timer-text"><h3>secs</h3></div>
              </div>
          </div>
        </article>
      </div>
      <!-- End slider -->
      <!-- Blog section -->
      <div class="container text-center mb-5 mt-5">
          <h1 class="news-title">Top News</h1>
      </div>
      <div class="row">
          <div class="col-12 col-md-6 col-lg-4" ng-repeat="post in vm.data" ng-click="vm.openPost(post.id)">
              <article title="{{post.title}}">
              <div class="card mb-3">
                  <div class="row no-gutters">
                    
                      <div class="embed-responsive embed-responsive-16by9" ng-if="post.post_type == 'video'" >
                          <video>
                            <source ng-src="{{post.image}}" type="video/mp4" >
                          </video>
                        </div>
                      <img style="height: 17rem; object-fit: cover;" ng-if="post.post_type == 'image'" ng-src="{{post.image}}" class="card-img" alt="{{post.alt_text}}">

                    <div class="col-10">
                      <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.subtitle}}</p>
                        <p class="card-text"><small class="text-muted">Added date: {{post.created_date}}</small></p>
                      </div>
                    </div>
                  </div>
              </div>
            </article>
          </div>

      </div>
    </ui-view>
  </div>
</div>

<hr />

<footer class="container-fluid navbar-style text-center ">
  <div class="container-fluid navbar-style">
        <div class="row">
          <div class="col-12 mt-3">
            <p>Build with <span style="color: red">&#10084;</span> by <span><a> Rubix @Copyright </a></span></p>
        </div>
    </div>
</footer>
