<div class="row form">
  <div class="container mt-3">
    <div class="card">
      <div class="col-12">
        <!-- title post -->
        <h1 id="title">{{ vm.post.title }} <button class="btn btn-default btn-outline-primary" onclick="run('title')"><i class="fas fa-volume-up"></i></button></h1>
        <h2 id="subtitle">{{vm.post.subtitle}} <button class="btn btn-default btn-outline-primary" onclick="run('subtitle')"><i class="fas fa-volume-up"></i></button></h2>

      </div>

      <div ng-if="vm.post.post_type == 'image'">
        <img ng-src="{{vm.post.image}}" class="card-img" alt="...">
      </div>

      <div ng-if="vm.post.post_type == 'video'"> 
        <div class='container'>
          <div class="row">
            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                  <video controls>
                    <source ng-src="{{vm.video_url}}" type="video/mp4" >
                  </video>
                </div>
            </div>
            <div class="col-md-4">
               <h3>
                 Transcript
               </h3>
               <section ng-bind-html="vm.post.transcript">

               </section>
               </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="embed-responsive embed-responsive-16by9"> -->
        <!-- media -->
        <!-- image -->
        <!-- video -->
        <!-- <video autoplay>
            <source src="https://st3.depositphotos.com/17302234/19431/v/600/depositphotos_194319842-stock-video-close-healthy-breakfast-bowl-table.mp4" type="video/mp4">
        </video> -->
      <!-- </div> -->
      <div class="card-body">
          <p class="card-text">
              <button class="btn btn-default btn-outline-primary" onclick="run('post_body')"><i class="fas fa-volume-up fa-2x"></i></button>
            <article ng-bind-html="vm.post_body" id="post_body"></article>
          </p>
      </div>
    </div>
  </div>
</div>
  